Flask == 2.3.2
azure-cosmos==4.4.0
openai==0.27.8
uuid==1.30
DateTime==5.1

langchain==0.0.218
azure-identity==1.13.0
azure-search-documents==11.3.0
#azure-storage-blob==12.8.1
#azure-storage-common==2.1.0
#azure-storage-file==2.1.0
#azure-storage-queue==12.1.6
#azure-storage-table==12.1.6
#azure-storage==0.36.0
#azure==4.0.0
#azureml-core==1.33.0
#azureml-dataprep==2.23.0
#azureml-dataprep-native==36.0.0
#azureml-defaults==1.33.0
#azureml-interpret==1.33.0
#azureml-mlflow==1.33.0
#azureml-pipeline-core==1.33.0
#azureml-pipeline-steps==1.33.0
#azureml-telemetry==1.33.0
#azureml-train==1.33.0
#azureml-train-automl-client==1.33.0
#azureml-train-automl-runtime==1.33.0
#azureml-train-core==1.33.0
#azureml-train-restclients-hyperdrive==1.33.0
#azureml-train-restclients-webservice==1.33.0
#azureml-tensorboard==1.33.0
#azureml-widgets==1.33.0
#azureml==0.2.7
#azuremls==0.2.7
#azuremlsdk==1.33.0
#azuremlsml==0.2.7
#azuremlsmlsdk==1.33.0