<!DOCTYPE html>
<html>
<head>
  <title>Chat with AI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h3>Chat with AI</h3>
  <form action="/" method="post" onsubmit="showResponseBox()">
    <label for="user-input">User:</label>
    <textarea id="user-input" name="user-input" placeholder="Enter your message" required></textarea>
    <input type="submit" value="Submit" />
  </form>
  <div id="ai-response-box" style="display: none;">
    {% if result %}
    <label for="ai-response">AI Companion:</label>
    <textarea id="ai-response" class="result">{{ result }}</textarea>
    {% endif %}
  </div>
  <script>
    function showResponseBox() {
      document.getElementById('ai-response-box').style.display = 'block';
    }
    window.scrollTo(0,document.body.scrollHeight);
  </script>
</body>
</html>



